.adminSidebar {
  flex: 1;
  background-color: #031529;
  position: relative;
}

.sidebarList {
  position: sticky;
  top: 6rem;
}

.sidebarListItem {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 20px 0;
  padding: 10px 20px;
  align-items: center;
  transition: 0.3s all;
}

.sidebarListItem a {
  color: rgb(139, 139, 139);
}

.sidebarListItem:hover {
  color: rgb(175, 255, 255);
}

.sidebarIcon {
  flex: 1;
}

.sidebarListItemTitle {
  flex: 4;
}
