.prodcuct-card-title {
  text-transform: capitalize;
  transition: 0.2s all;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.prodcuct-card-title:hover {
  color: #313131 !important;
  text-transform: capitalize;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
